<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.shop.dao.MemberDAO">
	<select id="selectListMember" parameterType="MemberVO" resultType="MemberVO">
		select * from user1
	</select>
	<select id="getMember" resultType="MemberVO">
		select * from user1 where userid=#{userid}
	</select>
	<insert id="addMember">
		insert into user1 (userid, pwd, name, email, tel, birth) 
		values (#{userid}, #{pwd}, #{name}, #{email},#{tel}, #{birth})
	</insert>
	<select id="login" resultType="MemberVO">
		select * from user1 where userid=#{userid}
	</select>
	<select id="checkId" resultType="int">
		select count(*) from user1 where userid=#{userid}
	</select>
	<update id="updateMember">
		update user1 set pwd=#{pwd}, tel=#{tel}, email=#{email}, birth=#{birth} where userid={userid}
	</update>
	<delete id="deleteMember">
		delete from user1 where userid={userid}
	</delete>
</mapper>